body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.image-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-image,
#preprocessed-image,
#attention-maps {
    margin-top: 20px;
    border: 2px solid #4CAF50;
    /* Add a simple border */
    border-radius: 8px;
    /* Optional: Add rounded corners */
}

#input-image {
    height: 224px;
    width: 224px;
}

#attention-maps {
    visibility: hidden;
}

#preprocessed-image {
    height: 224px;
    width: 224px;
    visibility: hidden;
}

#submit-button {
    margin: 0 20px;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: #45a049;
}

/* Add custom styles for file input */
#file-upload {
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 20px;
}

#file-upload::file-selector-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
}

#file-upload::file-selector-button:hover {
    background-color: #45a049;
}